<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceSoapSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceSoapSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44330/WebServiceSoap.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceSoapSoap"
                contract="ServiceReference1.WebServiceSoapSoap" name="WebServiceSoapSoap" />
        </client>
    </system.serviceModel>
</configuration>